
<div class="footer-legisnet">
    <footer class="footer paleta-3-background paleta-7-border">
        <div class="container">
            <h5 class="font-open-sans paleta-7-color font-semibold titulo-footer text-captalize">Analítica.</h5>
            <div class="footer-link-container">
                <ul class="footer-nav navbar-nav">
                    <li class="active"><a rel="nofollow" href="/" class="paleta-2-color vinculo text-captalize font-open-sans font-light">Inicio</a></li>
                    @if (ViewBag.IsFreeUser)
                    { 
                    <li><a href="#ContactenosForm" id="contactenos" class="paleta-2-color vinculo text-captalize font-open-sans font-light">Contáctenos</a></li>
                    }
                    <li><a href="" target="_blank" class="paleta-2-color vinculo font-open-sans font-light regUsoSinParametros" data-nomuso="@EstadisticasUsos.verTerminosDeUso">@T("PJ.Footer.HabeasData")</a></li>
                    <li><a href="" target="_blank" class="paleta-2-color vinculo font-open-sans font-light regUsoSinParametros" data-nomuso="@EstadisticasUsos.verPoliticaDePrivacidad">@T("PJ.Footer.PoliticasPrivacidad")</a></li>
                </ul>
            </div>
            <hr class="paleta-11-border footer-hr-1">
            <h5 class="font-open-sans paleta-7-color font-semibold titulo-footer text-captalize">otros productos legis</h5>
            <div class="footer-boxes-container-a">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a rel="nofollow" href="http://www.ambitojuridico.com" target="_blank" class="font-open-sans paleta-2-color vinculo text-captalize font-light" onclick="javascript: top.callInsertBitacora('LinkExterno', 'MetaData|Sitio: Ambito Juridico');">Ámbito Jurídico</a>
                    <p class="font-open-sans paleta-6-color font-light">Medio que aborda temas de actualidad jurídica, contable y tributaria en Colombia.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a rel="nofollow" href="http://www.comunidadcontable.com" target="_blank" class="font-open-sans paleta-2-color vinculo text-captalize font-light" onclick="javascript: top.callInsertBitacora('LinkExterno', 'MetaData|Sitio: Comunidad Contable');">Comunidad Contable</a>
                    <p class="font-open-sans paleta-6-color font-light">Portal para contadores, contenidos especializados, actualidad, eventos y mucho más.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a rel="nofollow" href="http://www.legiscomex.com" target="_blank" class="font-open-sans paleta-2-color vinculo text-captalize font-light" onclick="javascript: top.callInsertBitacora('LinkExterno', 'MetaData|Sitio: LegisComex');">LegisComex</a>
                    <p class="font-open-sans paleta-6-color font-light">La solución de comercio exterior más completa del mercado.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a rel="nofollow" href="http://www.legisoffice.com" target="_blank" class="font-open-sans paleta-2-color vinculo text-captalize font-light" onclick="javascript: top.callInsertBitacora('LinkExterno', 'MetaData|Sitio: LegisOffice');">LegisOffice</a>
                    <p class="font-open-sans paleta-6-color font-light">Solución en la nube para la virtualización de oficinas.</p>
                </div>
            </div>
            <div class="footer-boxes-container-b">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a rel="nofollow" href="http://www.multilegis.com" target="_blank" class="font-open-sans paleta-2-color vinculo text-captalize font-light" onclick="javascript: top.callInsertBitacora('LinkExterno', 'MetaData|Sitio: Multilegis');">Multilegis</a>
                    <p class="font-open-sans paleta-6-color font-light">Colección de publicaciones para consultas jurídicas y contables.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a rel="nofollow" href="http://www.legismovil.com" target="_blank" class="font-open-sans paleta-2-color vinculo text-captalize font-light" onclick="javascript: top.callInsertBitacora('LinkExterno', 'MetaData|Sitio: Legismovil');">Legismóvil</a>
                    <p class="font-open-sans paleta-6-color font-light">Boletín electrónico de actualidad jurídica al instante.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a rel="nofollow" href="http://www.aplegis.com/" target="_blank" class="font-open-sans paleta-2-color vinculo text-captalize font-light" onclick="javascript: top.callInsertBitacora('LinkExterno', 'MetaData|Sitio: ApLegis');">ApLegis</a>
                    <p class="font-open-sans paleta-6-color font-light">El servicio de actualización profesional en temas jurídicos y contables de vanguardia y actualidad.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a rel="nofollow" href="http://www2.legis.com.co/" target="_blank" class="font-open-sans paleta-2-color vinculo text-captalize font-light" onclick="javascript: top.callInsertBitacora('LinkExterno', 'MetaData|Sitio: Tienda Virtual');">Tienda virtual</a>
                    <p class="font-open-sans paleta-6-color font-light">Adquiera las publicaciones y soluciones especializadas en nuestro e-commerce.</p>
                </div>
            </div>
            <hr class="paleta-11-border">
            <div class="footer-information-container">
                <div class="col-lg-1 col-md-1 col-sm-1 no-padding anchoLogo">
                    <div class="icon icon-legislogofoot paleta-4-color"></div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 informacion">
                    <p class="font-open-sans paleta-6-color text-captalize font-light">Avenida Calle 26 # 82-70, Bogotá D.C.</p>
                    <p class="font-open-sans paleta-6-color text-captalize font-light">Tel:(571) 4255200 - 018000 912 101</p>
                    <p class="font-open-sans paleta-6-color font-light">Email: scliente@legis.com.co</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 no-padding titulo-redes text-right informacion">
                    <p class="font-open-sans paleta-6-color text-captalize font-light">Síganos</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 no-padding informacion">
                    <ul class="footer-social-nav navbar-nav">
                        <li>
                            <a href="http://www.linkedin.com/company/legis-s.a.">
                                <span class="icon icon-linkedin paleta-4-color"></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/#!/Legiseditores">
                                <span class="icon icon-twitter paleta-4-color"></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com/user/Legiseditores?feature=watch">
                                <span class="icon icon-youtube paleta-4-color"></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/LegisColombia">
                                <span class="icon icon-facebook paleta-4-color"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <hr class="paleta-11-border">
            <h5 class="font-open-sans paleta-6-color text-center subtitulo-footer font-light">Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular © Copyright 2015</h5>
        </div>
    </footer>
</div>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-32837530-5', 'auto');
    ga('send', 'pageview');

</script>