<?xml version="1.0"?>
<configuration>


  <appSettings>
    <add key="Source:FileJSON" value="F:\Desarrollo\JFPPrueba\JFPPrueba\Presentation\JFPWeb\App_Data\news_mock.json" />    
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="WCFNews.News">
        <endpoint address="http://localhost:44653/News.svc" binding="webHttpBinding" contract="WCFNews.INews"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>