<?xml version="1.0" encoding="utf-8" ?>
<xdp>
  <parameters>
    <!-- LOGS -->
    <entry name="FileLog" dispatched="True"><![CDATA[d:/AnaliticaLogs/Log.txt]]></entry>
    <entry name="ScalaLog" dispatched="True">true</entry>
    <entry name="SizeLog" dispatched="True">1GB</entry>


    <!--MANEJO DE ERRORES -->
    <entry name="REDIRECT_ERR_501" dispatched="True">false</entry>

    <!-- DATABASE -->
    <entry name="DBPrecedente" dispatched="True">data source=GLAUCO\LATIN1_GEN;initial catalog=Precedente;user id=SQL_PrecedenteJ;password=123456;MultipleActiveResultSets=True;App=PrecedenteJ</entry>

    <!-- AUTHENTICATION -->
    <entry name="wsScalaMultiproposito" dispatched="True">http://des.autenticacion.legis.com.co/ServicioWebMultipropositoScala/Servicio.asmx</entry>
    <entry name="CodAplicacion" dispatched="True">30</entry>
    <entry name="URLCancelar" dispatched="True">http://localhost:58234/</entry>
    <entry name="URLLogin" dispatched="True">http://localhost:58234/account/ConfirmLogin</entry>
    <entry name="UsuarioInvitado" dispatched="True">invitados.legis@legis.com.co</entry>
    <entry name="SimularAccesoIP" dispatched="True">true</entry>
    <entry name="IPSimulada" dispatched="True">127.0.0.12</entry>
    <entry name="FilialDefault" dispatched="True">CO</entry>

    <!-- BANNERS -->
    <entry name="Banner_Enabled" dispatched="True">true</entry>
    <entry name="PathImageBanner" dispatched="True">Content/img/sliderResource</entry>

    <!--EMAIL DATA-->
    <entry name="SMTP" dispatched="True">mail.legis.com</entry>
    <entry name="NameFrom" dispatched="True">Precedente Jurisprudencial</entry>
    <entry name="From" dispatched="True">info@legis.com</entry>
    <entry name="EmailCopy" dispatched="True">freddy.parra@legis.com.co</entry>
    <entry name="Subject" dispatched="True">Nueva clave Analítica</entry>


    <!--DOCUMENTOS-->
    <entry name="DocumentPath" dispatched="True">~/RepositorioDocumentos/{0}.htm</entry>
    <entry name="ModulacionFisicaPath" dispatched="True">D:\Proyectos\Ulises\Precedente\2799-PrecedenteJurisprudencial\Fuentes\Presentation\Precedente\RepositorioGraph\Mod-{0}.png</entry>
    <entry name="ModulacionHTTPPath" dispatched="True">http://localhost:58234/RepositorioGraph/Mod-{0}.png</entry>

    <!-- ANÁLISIS CONSULTADOS -->
    <entry name="TopConsultados" dispatched="True">5</entry>

    <!--GRÁFICO DE BURBUJAS-->
    <entry name="BubbleGraph_Size_Squares" dispatched="True">1034 700</entry>
    <entry name="BubbleGraph_Columns" dispatched="True">5</entry>
    <entry name="BubbleGraph_Rows" dispatched="True">4</entry>
    <entry name="BubbleGraph_TesisMaxLength" dispatched="True">300</entry>
    <entry name="BubbleGraph_HabilitarTituloPrimero" dispatched="True">false</entry>
    <entry name="BubbleGraph_Habilitado" dispatched="True">false</entry>

    <!--BÚSQUEDA DE ANÁLISIS (SOLR)-->
    <entry name="AnalisisBusqueda_Url" dispatched="True"><![CDATA[http://nestorf:8080/LPP/PJSlave/select?]]></entry>
    <entry name="AnalisisBusqueda_ItemsPerPage" dispatched="True">10</entry>
    <entry name="AnalisisBusqueda_DefaultSort" dispatched="True">Relevancia</entry>

    <!-- ESTADISTICAS -->
    <entry name="Estadisticas_RegistroLogos" dispatched="True">true</entry>
    <entry name="Estadisticas_RegistroLocal" dispatched="True">true</entry>
    <entry name="Estadisticas_Folder" dispatched="True">D:\AnaliticaLogs</entry>
    <!-- PRODUCCIÓN LOGOS -->
    <!--<entry name="Estadisticas_UrlWebService" dispatched="True">http://multilegis.com/wlogos/servicio.asmx</entry>-->
    <entry name="Estadisticas_UrlWebService" dispatched="True">http://hermione/WSLogos/servicio.asmx</entry>
    <entry name="Estadisticas_CodigoAplicacion" dispatched="True">34</entry>
    <entry name="Estadisticas_CodServidor" dispatched="True">113</entry>

    <!-- NOTIFICACIONES -->
    <entry name="Notificaciones_PorPagina" dispatched="True">10</entry>

    <!-- BUSQUEDAS -->
    <entry name="Busqueda_CamposLocalizados_Proximidad" dispatched="True">5</entry>
    <entry name="Busqueda_CamposLocalizados" dispatched="True"><![CDATA[magistrado###\b(magistrad[ao]s?(\s+ponentes?)?|m\.?p\.?|ponentes?)\b###sentenciatitulo###\b(expendientes?|sent\.?|exp\.?|s\.?v\.?|a\.?\v.?)\b]]></entry>
    <entry name="MaximoCaracteresBusquedas" dispatched="True">360</entry>

    <!--AYUDA-->
    <entry name="Ayuda_Chat" dispatched="True">true</entry>
    <entry name="Ayuda_ChatUrl" dispatched="True">http://chat.legis.com.co/chat/colombia/client.html</entry>

    <!-- HABEAS DATA -->
    <entry name="HabeasData_Registrar" dispatched="True">http://pre.tiendalegis.com/HabeasDataInfoSitios/Api/TblAutorizacion</entry>
    <!-- PRO -->
    <!--<entry name="HabeasData_Registrar" dispatched="True">http://habeasdatasitios.legis.com.co/Api/TblAutorizacion</entry>-->

  </parameters>
</xdp>